In [38]:
%cd ACG/

pd.set_option("display.max_columns", 999)

/Users/wangmacpro/biostar/ACG

In [2]:
pwd

'/Users/wangmacpro/Documents/projects/TDI_Challenge'

In [54]:
import pandas as pd

df_pc = pd.read_csv("project-sunroof-postal_code.csv")
dfall_zp = pd.read_csv("17zpallnoagi.csv")

In [43]:
df_pc.head()

,region_name,state_name,lat_max,lat_min,lng_max,lng_min,lat_avg,lng_avg,yearly_sunlight_kwh_kw_threshold_avg,count_qualified,percent_covered,percent_qualified,number_of_panels_n,number_of_panels_s,number_of_panels_e,number_of_panels_w,number_of_panels_f,number_of_panels_median,number_of_panels_total,kw_median,kw_total,yearly_sunlight_kwh_n,yearly_sunlight_kwh_s,yearly_sunlight_kwh_e,yearly_sunlight_kwh_w,yearly_sunlight_kwh_f,yearly_sunlight_kwh_median,yearly_sunlight_kwh_total,install_size_kw_buckets_json,carbon_offset_metric_tons,existing_installs_count
0,12210,New York,42.670146,42.648346,-73.747372,-73.768631,42.656878,-73.759919,961.35,1969.0,98.469611,87.433393,1683.0,8130.0,8950.0,3017.0,88125.0,26.0,109905.0,6.50,27476.25,4.109930e+05,2.373516e+06,2.534450e+06,7.508317e+05,2.452771e+07,7305.194678,3.059750e+07,"[[0,610],[5,899],[10,223],[15,75],[20,31],[25,...",11180.899845,1.0
1,12211,New York,42.756115,42.671905,-73.721030,-73.830649,42.706435,-73.765975,961.35,3633.0,98.931624,78.466523,4147.0,73209.0,42683.0,46184.0,88148.0,39.0,254371.0,9.75,63592.75,1.021738e+06,2.106293e+07,1.132311e+07,1.229446e+07,2.472480e+07,11021.458698,7.042704e+07,"[[0,582],[5,1211],[10,1023],[15,431],[20,183],...",25735.357620,17.0
2,12222,New York,42.691756,42.688628,-73.827249,-73.830098,42.690409,-73.828811,961.35,30.0,100.000000,100.000000,128.0,1588.0,1613.0,281.0,423.0,121.0,4033.0,30.25,1008.25,3.440671e+04,4.849979e+05,4.800721e+05,7.025353e+04,1.109636e+05,36431.040363,1.180694e+06,"[[0,1],[5,1],[15,1],[20,2],[25,8],[30,15],[65,...",431.447609,0.0
3,12235,New York,42.738615,42.738458,-73.820816,-73.820885,42.738536,-73.820850,961.35,1.0,100.000000,50.000000,0.0,0.0,0.0,0.0,134.0,134.0,134.0,33.50,33.50,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.558662e+04,35586.624609,3.558662e+04,"[[30,1]]",13.004019,0.0
4,12246,New York,42.647312,42.646912,-73.749521,-73.749785,42.647112,-73.749653,961.35,2.0,100.000000,100.000000,0.0,6.0,0.0,0.0,121.0,21.0,127.0,5.25,31.75,0.000000e+00,1.831440e+03,0.000000e+00,0.000000e+00,3.329192e+04,5495.239624,3.512336e+04,"[[5,1],[25,1]]",12.834735,0.0

In [28]:
-# #choose zipcode with percent qualification higher than 60%
# df_pc = df_pc[df_pc['percent_qualified'] >= 60.0]

In [56]:
#choose necessary columns on df_pc
df_pc2 = df_pc.iloc[:, [0,1,8,9,10,11,30]]

In [57]:
#choose necessary columns on dfall_zp
dfall_zp2 = dfall_zp.iloc[:, [2,4,5,6,7,12,13,20,32,59,68,74,76,88,94,113,114]]

#data types
            VARIABLE NAME	DESCRIPTION	VALUE/LINE REFERENCE                                	Type
              ZIPCODE	5-digit Zip code	 	                                                 Char		
              N1	Number of returns	 	                                                     Num
              MARS1	Number of single returns	  Filing status is single	                     Num
              MARS2	Number of joint returns	  Filing status is married filing jointly	         Num
             MARS4	Number of head of household returns	  Filing status is head of household     Num
             N2	Number of exemptions	  1040:6d	                                             Num
             NUMDEP	Number of dependents	  1040:6c	                                         Num
             A00100	Adjusted gross income (AGI) [5]	  1040:37 / 1040A:21 / 1040EZ:4	             Num
             A00700	State and local income tax refunds amount	  1040:10	                     Num
             A17000	Total medical and dental expense deduction amount	  Schedule A:4	         Num
             A18500	Real estate taxes amount	  Schedule A:6	                                 Num
             A19700	Total charitable contributions amount	  Schedule A:19	                     Num
             A04800	Taxable income amount	  1040:43 / 1040A:27 / 1040EZ:6	                     Num
             N07260	Number of returns with residential energy tax credit	  1040:53	         Num
             A07260	Residential energy tax credit amount	  1040:53	                         Num

In [63]:
#rename region_name to ZIPCODE on df_pc2
df_pc2.rename(columns = {'region_name':'ZIPCODE'}, inplace = True)
df_pc2.columns[0]

//anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

'ZIPCODE'

In [64]:
# del df_1s
del df_pc
del dfall_zp

In [65]:
df_pc2.head()

,ZIPCODE,state_name,yearly_sunlight_kwh_kw_threshold_avg,count_qualified,percent_covered,percent_qualified,existing_installs_count
0,12210,New York,961.35,1969.0,98.469611,87.433393,1.0
1,12211,New York,961.35,3633.0,98.931624,78.466523,17.0
2,12222,New York,961.35,30.0,100.000000,100.000000,0.0
3,12235,New York,961.35,1.0,100.000000,50.000000,0.0
4,12246,New York,961.35,2.0,100.000000,100.000000,0.0

In [172]:
 df = pd.merge(df_pc2,dfall_zp2)    #region_name  ZIPCODE  11516

In [173]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10353 entries, 0 to 10352
Data columns (total 23 columns):
ZIPCODE                                 10353 non-null int64
state_name                              10353 non-null object
yearly_sunlight_kwh_kw_threshold_avg    10353 non-null float64
count_qualified                         10353 non-null float64
percent_covered                         10353 non-null float64
percent_qualified                       10353 non-null float64
existing_installs_count                 10353 non-null float64
N1                                      10353 non-null float64
MARS1                                   10353 non-null float64
MARS2                                   10353 non-null float64
MARS4                                   10353 non-null float64
N2                                      10353 non-null float64
NUMDEP                                  10353 non-null float64
A00100                                  10353 non-null float64
A00700                                  10353 non-null float64
A03210                                  10353 non-null float64
A17000                                  10353 non-null float64
A18500                                  10353 non-null float64
A18800                                  10353 non-null float64
A19570                                  10353 non-null float64
A20950                                  10353 non-null float64
N07220                                  10353 non-null float64
A07220                                  10353 non-null float64
dtypes: float64(21), int64(1), object(1)
memory usage: 1.9+ MB

In [174]:
def missing_value(df):
    percent_missing = df.isnull().sum() * 100 / len(df)
    q = list(percent_missing)
    missing_value_df = pd.DataFrame({'Column Name': df.columns, 'Percent Missing % ': q})
    return missing_value_df

In [175]:
missing_value(df)

                             Column Name  Percent Missing %
0                                ZIPCODE                 0.0
1                             state_name                 0.0
2   yearly_sunlight_kwh_kw_threshold_avg                 0.0
3                        count_qualified                 0.0
4                        percent_covered                 0.0
5                      percent_qualified                 0.0
6                existing_installs_count                 0.0
7                                     N1                 0.0
8                                  MARS1                 0.0
9                                  MARS2                 0.0
10                                 MARS4                 0.0
11                                    N2                 0.0
12                                NUMDEP                 0.0
13                                A00100                 0.0
14                                A00700                 0.0
15                                A03210                 0.0
16                                A17000                 0.0
17                                A18500                 0.0
18                                A18800                 0.0
19                                A19570                 0.0
20                                A20950                 0.0
21                                N07220                 0.0
22                                A07220                 0.0

In [176]:
df.head(20)

,ZIPCODE,state_name,yearly_sunlight_kwh_kw_threshold_avg,count_qualified,percent_covered,percent_qualified,existing_installs_count,N1,MARS1,MARS2,MARS4,N2,NUMDEP,A00100,A00700,A03210,A17000,A18500,A18800,A19570,A20950,N07220,A07220
0,12210,New York,961.350000,1969.0,98.469611,87.433393,1.0,4820.0,3240.0,510.0,980.0,7290.0,2080.0,203657.0,284.0,877.0,1350.0,3071.0,15.0,0.0,0.0,480.0,420.0
1,12211,New York,961.350000,3633.0,98.931624,78.466523,17.0,6090.0,2970.0,2600.0,390.0,10910.0,2800.0,827003.0,3527.0,617.0,6361.0,29807.0,151.0,1827.0,1563.0,530.0,664.0
2,12302,New York,958.800000,6273.0,75.725572,68.888645,105.0,14380.0,7130.0,5680.0,1300.0,25740.0,6800.0,994443.0,2640.0,2224.0,10564.0,40073.0,314.0,58.0,1885.0,2070.0,2695.0
3,12303,New York,959.807973,9057.0,98.895832,78.388437,186.0,15070.0,7300.0,5290.0,2190.0,27870.0,8540.0,977360.0,2575.0,1659.0,8289.0,34802.0,303.0,261.0,1915.0,2200.0,2507.0
4,12304,New York,959.267335,5611.0,98.602526,76.464977,60.0,10450.0,5600.0,2820.0,1840.0,18390.0,5640.0,468443.0,782.0,987.0,5391.0,13130.0,256.0,0.0,799.0,1380.0,1517.0
5,12305,New York,958.800000,1014.0,98.366294,88.636364,5.0,2130.0,1620.0,220.0,260.0,2860.0,590.0,90783.0,81.0,316.0,394.0,1219.0,5.0,0.0,0.0,110.0,105.0
6,12306,New York,958.817592,8404.0,92.786798,80.359533,206.0,14110.0,7310.0,4670.0,1830.0,24530.0,6520.0,821972.0,1818.0,1791.0,6048.0,29601.0,275.0,163.0,2293.0,2000.0,2391.0
7,12307,New York,958.800000,1654.0,98.534031,87.885228,13.0,2900.0,1330.0,450.0,1080.0,5800.0,2540.0,69414.0,51.0,98.0,166.0,460.0,18.0,0.0,0.0,500.0,412.0
8,12308,New York,958.800000,3322.0,98.853265,78.645833,14.0,6390.0,3430.0,1380.0,1470.0,11390.0,3870.0,274327.0,514.0,707.0,1635.0,8242.0,76.0,0.0,152.0,900.0,936.0
9,12309,New York,959.172151,7907.0,98.891821,70.321949,103.0,15490.0,7090.0,6820.0,1230.0,29450.0,8470.0,1568765.0,5660.0,2057.0,15743.0,69474.0,552.0,1020.0,1562.0,1990.0,2550.0
10,12401,New York,974.950000,9477.0,89.519205,72.095854,19.0,16620.0,8920.0,4750.0,2630.0,28560.0,8090.0,904045.0,2293.0,1636.0,8952.0,29624.0,177.0,229.0,930.0,2110.0,2287.0
11,12411,New York,974.950000,127.0,90.613718,50.597610,0.0,260.0,130.0,100.0,30.0,450.0,110.0,15289.0,24.0,0.0,0.0,480.0,0.0,0.0,0.0,30.0,45.0
12,12419,New York,974.950000,89.0,42.748092,52.976190,0.0,340.0,190.0,130.0,0.0,580.0,150.0,24021.0,45.0,30.0,0.0,841.0,0.0,0.0,0.0,30.0,45.0
13,12440,New York,974.950000,145.0,18.832392,48.333333,6.0,990.0,530.0,350.0,80.0,1630.0,360.0,73118.0,190.0,77.0,801.0,2847.0,0.0,0.0,0.0,80.0,100.0
14,12443,New York,974.950000,861.0,73.924731,62.618182,4.0,2020.0,940.0,870.0,170.0,3640.0,890.0,159035.0,431.0,205.0,1627.0,5953.0,9.0,0.0,0.0,240.0,285.0
15,12449,New York,974.950000,853.0,96.751740,68.185452,4.0,1630.0,840.0,540.0,200.0,2800.0,730.0,86637.0,173.0,104.0,572.0,2565.0,0.0,0.0,0.0,230.0,265.0
16,12456,New York,974.950000,139.0,94.117647,48.263889,0.0,400.0,210.0,130.0,60.0,720.0,210.0,18677.0,29.0,30.0,0.0,507.0,0.0,0.0,0.0,70.0,82.0
17,12466,New York,974.950000,622.0,96.127563,73.696682,1.0,1560.0,830.0,500.0,180.0,2580.0,620.0,93947.0,212.0,132.0,989.0,3683.0,6.0,0.0,0.0,170.0,200.0
18,12472,New York,974.950000,253.0,95.767196,46.593002,3.0,880.0,510.0,270.0,80.0,1380.0,300.0,47607.0,114.0,91.0,341.0,1620.0,0.0,0.0,0.0,90.0,108.0
19,12477,New York,974.950000,862.0,19.582665,54.350567,4.0,8950.0,4650.0,3140.0,990.0,15510.0,4030.0,525775.0,1933.0,786.0,5922.0,21792.0,113.0,210.0,226.0,1110.0,1333.0

In [177]:
df.set_index('ZIPCODE', inplace=True)

In [178]:
for i in [7,8,9,20]:
    print(df.columns[i])

MARS1
MARS2
MARS4
N07220

In [179]:
df["count_qualified"].min()

0.0

In [180]:
# convert total # to percentage 
for i in [7,8,9,20]:
    df[df.columns[i]] = df[df.columns[i]] / df["N1"] *100

In [181]:
df.shape

(10353, 22)

In [182]:
df = df[df['count_qualified'] > 0.0]
df.shape

(10341, 22)

In [183]:
df["solar_per"] = df["existing_installs_count"] / df["count_qualified"] *100

In [184]:
set(df.state_name.unique())

{'Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming'}

In [185]:
states_train =['Massachusetts', 'New York', 'New Jersey', 'Rhode Island', 'Maryland', 'Connecticut', 'California']
# selected based on Policy score on solarpowerrocks.com
df_train = df[df.state_name.isin(states_train)]
df_test = df[~df.state_name.isin(states_train)]
print(df.shape)
print(df_train.shape)
print(df_test.shape)

(10341, 23)
(2901, 23)
(7440, 23)

In [186]:
X = df[df.columns[0:22]]
X.columns

Index(['state_name', 'yearly_sunlight_kwh_kw_threshold_avg', 'count_qualified',
       'percent_covered', 'percent_qualified', 'existing_installs_count', 'N1',
       'MARS1', 'MARS2', 'MARS4', 'N2', 'NUMDEP', 'A00100', 'A00700', 'A03210',
       'A17000', 'A18500', 'A18800', 'A19570', 'A20950', 'N07220', 'A07220'],
      dtype='object')

In [187]:
from sklearn import linear_model
# without any selection
X = df[df.columns[1:22]]
y = df[df.columns[22]]
print("X shape", X.shape)
print("y shape", y.shape)
lm = linear_model.LinearRegression()
model = lm.fit(X,y)
predictions = lm.predict(X)
lm.score(X,y)

X shape (10341, 21)
y shape (10341,)

0.6817134623154594

In [188]:
#on train data
X = df_train[df_train.columns[1:22]]
y = df_train[df_train.columns[22]]
print("X shape", X.shape)
print("y shape", y.shape)
lm2 = linear_model.LinearRegression()
model = lm2.fit(X,y)
predictions = lm2.predict(X)
print("lm2 score",lm2.score(X,y))

X shape (2901, 21)
y shape (2901,)
lm2 score 0.7370598340544848

In [189]:
X_test = df_test[df_test.columns[1:22]]
y_test = df_test[df_test.columns[22]]
print("X shape", X_test.shape)
print("y shape", y_test.shape)

predictions_2 = lm2.predict(X_test)
print("lm2 score",lm2.score(X_test,y_test))

X shape (7440, 21)
y shape (7440,)
lm2 score 0.3106951530284918

In [192]:
print('predicted response:', predictions, sep='\n')
print('predicted_2 response:', predictions_2, sep='\n')

predicted response:
[0.32929962 1.14764948 0.97988854 ... 0.34499557 0.54251732 0.49435009]
predicted_2 response:
[-0.66836821  0.19348442  1.13081809 ...  0.81819778  1.24034728
  1.32504971]

In [199]:
target = pd.DataFrame(y_test-predictions_2)

In [204]:
target[target.solar_per > 2]

         solar_per
ZIPCODE
16802     9.256361
17028     2.605856
18360     2.032422
18621     5.000594
18707     3.924643
18902     9.266275
27278    15.839029
29072     2.624185
29681     2.131407
30024     2.790524
30041     2.007797
30043     2.130528
30044     2.117878
30062     2.145840
30906     2.061754
32128     2.645415
32162     2.853762
32210     2.030079
32766     2.350612
32833     3.032252
33896     2.656845
33947     6.971667
33972     3.216107
33983     3.631657
34104     2.161446
34117     2.964821
34119     2.294631
34120     5.942977
34145     4.329657
34201     3.612242
...            ...
89052     2.880014
89128     3.621161
89130     2.594172
89135     2.046345
89138     3.600130
89141     2.551029
96701     3.418155
96725     9.694163
96732     2.204109
96734     8.304018
96761     2.127057
96779     7.380557
96786     2.168769
96793     2.126172
96813     4.581794
96815     2.011904
96818     2.537585
96821     5.687334
96822     3.055606
96825     4.761550
97045     2.048857
97540     3.230650
98012     2.442934
98208     2.107155
98270     2.478013
98387     2.177992
98391     2.354414
98682     2.049054
99301     2.242281
4108      2.335787

[158 rows x 1 columns]

In [209]:
target.sort_values("solar_per")

         solar_per
ZIPCODE
33914    -6.858887
33480    -5.768343
76102    -4.731543
32137    -4.404454
33109    -4.328660
96789    -4.168098
33496    -4.001753
96706    -3.923047
67232    -3.780313
64167    -3.405369
33904    -3.373439
75225    -3.344286
84775    -3.306406
84757    -3.239304
75205    -3.200456
67223    -3.178240
29915    -3.155240
34293    -3.139197
73151    -3.100527
80929    -3.074025
87042    -3.030379
84773    -2.965009
85387    -2.956310
68514    -2.942628
32164    -2.920245
86325    -2.919781
61731    -2.918713
85736    -2.883029
87047    -2.869439
64149    -2.860070
...            ...
77429     5.550175
96821     5.687334
77521     5.706499
77096     5.887072
34120     5.942977
80304     5.971510
77345     6.024521
77642     6.079241
79906     6.079932
77494     6.259802
77546     6.512725
77479     6.514730
77084     6.855296
33947     6.971667
77632     6.975649
77339     6.999045
77573     7.298186
96779     7.380557
77539     8.212597
96734     8.304018
16802     9.256361
18902     9.266275
77662     9.603354
96725     9.694163
77079     9.899006
77450    14.565592
27278    15.839029
84535    22.475332
79908    27.216516
85708    41.433595

[7440 rows x 1 columns]

In [212]:
df[df.index == 84535]

,state_name,yearly_sunlight_kwh_kw_threshold_avg,count_qualified,percent_covered,percent_qualified,existing_installs_count,N1,MARS1,MARS2,MARS4,N2,NUMDEP,A00100,A00700,A03210,A17000,A18500,A18800,A19570,A20950,N07220,A07220,solar_per
ZIPCODE,,,,,,,,,,,,,,,,,,,,,,,
84535,Utah,1375.3,4.0,0.469116,66.666667,1.0,950.0,34.736842,52.631579,9.473684,2190.0,810.0,49724.0,80.0,82.0,754.0,428.0,32.0,0.0,0.0,23.157895,340.0,25.0